@model Product
<form method="post">
    <h4>Добавление нового товара</h4>
    <br />
    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <div class="row">
        <label asp-for="Name" class="col-sm-2 col-form-label">Название товара:</label><br />
        <div class="col-sm-3">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="Author" class="col-sm-2 col-form-label">Имя автора альбома</label>
        <div class="col-sm-3">
            <input asp-for="Author" class="form-control" />
            <span asp-validation-for="Author"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="ReleaseYear" class="col-sm-2 col-form-label">Год издания</label>
        <div class="col-sm-3">
            <input asp-for="ReleaseYear" type="number" class="form-control" />
            <span asp-validation-for="ReleaseYear"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="Cost" class="col-sm-2 col-form-label">Стоимость</label>
        <div class="col-sm-3">
            <input asp-for="Cost" type="number" class="form-control" />
            <span asp-validation-for="Cost"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="Description" class="col-sm-2 col-form-label">Описание альбома</label>
        <div class="col-sm-3">
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <label asp-for="ImagePath" class="col-sm-2 col-form-label">Ссылка на изображение</label>
        <div class="col-sm-3">
            <input asp-for="ImagePath" type="text" class="form-control" />
            <span asp-validation-for="ImagePath"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" asp-controller="Product" asp-action="Add">Добавить</button>
</form>