﻿<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 nav">
        <div class="container-fluid">
            <a class="nav-link btn-lg" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-github"></i>Магазин</a>
            <nav class="nav justify-content-center">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-display"></i>Главная</a>

                <nav class="navbar bg-body-tertiary">
                    <div class="container-fluid">
                        <form class="d-flex" role="search" method="post">
                            <input type="search" name="name" class="form-control" placeholder="Поиск" aria-label="Поиск" />
                            <button class="btn btn-outline-primary" type="submit" asp-controller="Home" asp-action="Search"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </nav>

                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login"><i class="bi bi-door-open"></i>Войти</a>
                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="Order"><i class="bi bi-database-lock"></i>Администратор</a>
                <a class="nav-link" asp-area="" asp-controller="Compare" asp-action="Index">Список сравнения @await Component.InvokeAsync("Compare")</a>
                <a class="nav-link" asp-area="" asp-controller="Favorite" asp-action="Index"><i class="bi bi-star"></i>Избранное @await Component.InvokeAsync("Favorite")</a>
                <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="Index"><i class="bi bi-cart4"></i> Корзина @await Component.InvokeAsync("Cart")</a>
            </nav>
        </div>
    </nav>
</header>