<div class="col-2 list-group-flush">
    <a class="list-group-item" asp-area="Admin" asp-controller="Admin" asp-action="Order"><i class="bi bi-cart4"></i>Заказы</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Admin" asp-action="User"><i class="bi bi-people"></i>Пользователи</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Admin" asp-action="Roles"><i class="bi bi-person-gear"></i>Роли</a>
    <a class="list-group-item" asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="bi bi-basket"></i>Продукты</a>
</div>